.container {
  min-height: 100vh;
  padding: 0 0;
  padding-top: clamp(20px, 8vh, 1000px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleBox {
  height: 40vh;
  width: 100%;
  padding: 0;
  background: linear-gradient(130deg, #06c5d6, #94cce3, #06c5d6);
  background-size: 200% 200%;

  -webkit-animation: Animation 5s ease infinite;
  -moz-animation: Animation 5s ease infinite;
  animation: Animation 5s ease infinite;
  display: flex;
}
@-webkit-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@keyframes Animation { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}

.title {
  font-size: clamp(40px, 5vw, 10000px);
  text-align: center;
  margin: auto;
  padding-bottom: 4vh;
  padding-inline: 2vw;
}

.homeSectionsBox{
  height: 52vh;
  width: 100%;
  display: flex;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}


.homeSectionsImage{
  height: 100%;
  width: auto;
}

.homeSectionsArea{
  height: 100%;
  position: relative;
  flex: 1; 
  overflow: hidden;
}

.sectionBoxImage{
  width: 100%;
  height: auto;
}
.imageFade{
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, transparent, rgb(255, 255, 255,0.75));
  -webkit-transition: opacity .75s ease-out;
  -moz-transition: opacity .75s ease-out;
  -o-transition: opacity .75s ease-out;
  transition: opacity .75s ease-out;
}
.imageFade:hover{
  opacity: 0%;
}
.sectionBoxText{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: clamp(1px, 1.5vw, 1000px);
  background-color: rgb(0, 134, 223);
  padding-top: 2%;
  padding-inline: 2%;
  text-align: center;
  -webkit-transition: color .5s ease-out;
  -moz-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;
}
.sectionBoxText:hover {
  color: white;
}

.none {
  all: unset;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
