.container {
  min-height: 100vh;
  padding: 0 0;
  padding-top: clamp(20px, 8vh, 1000px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleBox {
  height: 40vh;
  width: 100%;
  padding: 0;
  background: linear-gradient(130deg, #06c5d6, #94cce3, #06c5d6);
  background-size: 200% 200%;

  -webkit-animation: Animation 5s ease infinite;
  -moz-animation: Animation 5s ease infinite;
  animation: Animation 5s ease infinite;
  display: flex;
}
@-webkit-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@keyframes Animation { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}

.title {
  font-size: clamp(40px, 5vw, 10000px);
  text-align: center;
  margin: auto;
  padding-bottom: 4vh;
  padding-inline: 2vw;
}

.homeSectionsBox{
  height: 52vh;
  width: 100%;
  display: flex;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.homeSectionsImage{
  height: 100%;
  width: auto;
}

.homeSectionsArea{
  height: 100%;
  flex: 1;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
