.primaryContent{
  border-bottom: 2px solid black;
}

.titleFlex{
  display: flex;
}
.title { 
  line-height: 1.0;
  margin-bottom: 1%;
  margin-right: auto;
}

.inPageNav{
  margin-top: 0;
}

.secHeading { 
  margin: 0;
}

.infoParagraph { 
  margin-top: 0;
}

.adviceInfo{
  font-style: italic;
}

/* Treatment pages */
.qinfoContainer{
  width: 50%;
  padding-left: 2%;
  margin-top: 2%;
  margin-bottom: 3%;
  border: 2px solid black;
}
.treatmentqinfo{
  margin: 0;
}

.inlineLink{
  color: black;
  text-decoration: underline;
  font-style: italic;
}

/* Learn pages */
.LearnInfoP{
  margin-top: 4%;
  text-indent: 2em;
}

.LearnInfoqtip{
  font-style: italic;
}

.none {
  all: unset;
}