.primaryContent{
  border-bottom: 2px solid black;
}

.title { 
  line-height: 1.0;
  margin-bottom: 1%;
}

.inPageNav{
  margin-top: 0;
}

.secHeading { 
  margin: 0;
}

.infoParagraph { 
  margin-top: 0;
}

.adviceInfo{
  font-style: italic;
}
