.Navbar {
  position: fixed;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: clamp(20px, 1.5vw, 1000px);
  background-color: rgb(0, 134, 223);
  height: clamp(20px, 8vh, 1000px);
  width: 100vw;
  top: 0;
}

.Logo{
  margin-left: 20px;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
}

.Link{
  display: inline-flex;
  color: black;
  padding-left: 4%;
}

.Search{
  margin-left: auto;
  padding-right: 5%;
}
.SearchInput{
  all: unset;
  padding-left: 5%;
  background-color: rgba(240, 248, 255, 0.644);
  border-radius: 25px;
  height: clamp(25px, 2.4vw, 1000px);
  border: none;
}
.SearchResults{
  position:fixed; /* instead of : position:absolute;*/
  top:7%;         /* instead of : top:100%;*/
  background-color: white; 
  width: 100%;
}
.SearchResultsItem{
  margin: 0;
  padding-left: 1%;
  width: 100%;
  border: 1px solid black;
  text-transform: capitalize;
}
.SearchResultsItemLink{
  color: black;
}

.Ham{
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  height: 8vh;
  width: 8vh;
  background-color: transparent;
  border-radius: 10px;
  border: none;
}

.Hamsvg{
  background-color: transparent;
  height: fit-content;
  width: fit-content;
}

.hammenu{
  z-index: 5;
  position: fixed;
  display: flex;
  flex-direction: column;
  font-size: clamp(20px, 1.5vw, 1000px);
  background-color: white;
  width: 100vw;
  top: clamp(20px, 8vh, 1000px);
}

.hamLink{
  color: gray;
  border-top: 1px solid black;
  font-size: clamp(20px, 3vh, 1000px);
  padding-block: 5px;
}

@media only screen and (min-width: 1026px) {
  .Ham {
    display: none;
  }
}

@media only screen and (max-width: 1026px) {
  .Link {
      display: none;
  }
  .Search{
    display: none;
  }
}
