.wrapper {
    display: flex;
    padding-top: clamp(20px, 8vh, 1000px);;
}

.content {
    width: 80%;
    margin-left: 20%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.backToHome {
    margin: 3rem 0 0;
}

.sidebar { 
    position: fixed;
    height: clamp(calc(100vh - 1000px), calc(100vh - 8vh), calc(100vh - 20px));
    width: 20%;
}